<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
    <div class="container pt-5" ng-controller="loginForm">
      <div class="row">
        <h3>Đăng nhập</h3>
      </div>
      <div class="row">
        <div class="col-4">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Tài khoản</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                ng-model="username"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Mật khẩu</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                ng-model="password"
              />
            </div>

            <button type="submit" class="btn btn-primary" ng-click="login()">
              Đăng nhập
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-2">
        <a href="trang-chu.html" class="btn btn-info mt-5">Trang chủ</a>
      </div>
    </div>

    <script src="./js/angularJS.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./db/students.json"></script>

    <script>
      const app = angular.module("myApp", []);

      const loginForm = ($scope) => {
        $scope.login = () => {
          const api =
            "https://621394e389fad53b1ff9c97c.mockapi.io/api/sinhvien/sinhvien";
          fetch(api)
            .then((res) => {
              return res.json();
            })
            .then((data) => {
              let check = 0;
              let user;
              const username = $scope.username;
              const password = $scope.password;
              data.forEach((item) => {
                if (username === item.username) {
                  if (password === item.password) {
                    check++;
                    user = item;
                  }
                }
              });

              if (check != 0) {
                console.log(user);
                localStorage.removeItem("currentUser");
                localStorage.setItem("currentUser", JSON.stringify(user));
                window.location.replace("trang-chu.html");
              } else {
                if (user.role === "sv" || user.role === "admin") {
                } else {
                  alert("Tên đăng nhập hoặc mật khẩu không chính xác ...");
                }
              }
            });
          const adminApi =
            "https://621394e389fad53b1ff9c97c.mockapi.io/api/sinhvien/admin";
          fetch(adminApi)
            .then((res) => {
              return res.json();
            })
            .then((data) => {
              let check = 0;
              let user;
              const username = $scope.username;
              const password = $scope.password;
              data.forEach((item) => {
                if (username === item.username) {
                  if (password === item.password) {
                    check++;
                    user = item;
                  }
                }
              });

              console.log(check);

              if (check > 0) {
                console.log(user);
                localStorage.removeItem("currentUser");
                localStorage.setItem("currentUser", JSON.stringify(user));
                window.location.replace("trang-chu.html");
              } else {
                if (user.role === "sv" || user.role === "admin") {
                } else {
                  alert("Tên đăng nhập hoặc mật khẩu không chính xác ...");
                }
              }
            });
        };
      };
      app.controller("loginForm", loginForm);
    </script>
  </body>
</html>
