<div class="card">
  <div class="card-body">
    <h3 class="text-info">Giới thiệu</h3>
    <h5 class="mt-3">
      Hệ Cao đẳng thực hành thuộc Đại học FPT, còn gọi là FPT Polytechnic, được
      thực hiện đào tạo và cấp bằng Cao đẳng nghê theo quyết định của Tổng cục
      dạy nghề bắt đầu từ ngày 01/07/2010.
    </h5>
    <div class="row mt-5">
      <div class="col-3">
        <h3>NGÀNH ĐÀO TẠO</h3>
        <p>
          Với triết lý đào tạo “Thực học – Thực nghiệp”, Cao đẳng FPT
          Polytechnic hướng tới đào tạo nguồn nhân lực chất lượng cao với phương
          pháp giảng dạy qua dự án thật.
        </p>
      </div>
      <div class="col-3">
        <img src="images/cntt.png" class="img-fluid" alt="" />
        <p class="text-center">Công nghệ thông tin</p>
      </div>
      <div class="col-3">
        <img src="images/tkdh.png" class="img-fluid" alt="" />
        <p class="text-center">Thiết kế đồ họa</p>
      </div>
      <div class="col-3">
        <img src="images/qtkd.png" class="img-fluid" alt="" />
        <p class="text-center">Quản trị Kinh doanh</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img src="images/dien-tu.png" class="img-fluid" alt="" />
        <p class="text-center">Công nghệ kỹ thuật điện, điện tử</p>
      </div>
      <div class="col-3">
        <img src="images/co-khi.png" class="img-fluid" alt="" />
        <p class="text-center">Công nghệ kỹ thuật Cơ khí</p>
      </div>
      <div class="col-3">
        <img src="images/du-lich.png" class="img-fluid" alt="" />
        <p class="text-center">Hướng dẫn viên du lịch</p>
      </div>
      <div class="col-3">
        <img src="images/lam-dep.png" class="img-fluid" alt="" />
        <p class="text-center">Chăm sóc Sức khỏe và làm đẹp</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <img src="images/chuong-trinh-dao-tao.jpg" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-warning mt-3">
        Xem Thêm >
      </button>
    </div>
  </div>
</div>
