<div class="card">
  <div class="card-body">
    <h3 class="text-warning">Câu hỏi thường gặp</h3>
    <h6 class="fw-bold">FPT Polytechnic là gì?</h6>
    <p>
      FPT Polytechnic thuộc trường Đại học FPT chuyên đào tạo Hệ Cao đẳng thực
      hành theo quy định của Tổng cục dạy nghề.
    </p>
    <h6 class="fw-bold">
      Hoàn thành khóa học của FPT Polytechnic sẽ được nhận bằng cấp gì?
    </h6>
    <p>
      Sinh viên khi hoàn thành khóa học 7 học kỳ (2 năm 4 tháng không có nghỉ
      hè) của FPT Polytechnic Hệ Cao đẳng thực hành sẽ nhận bằng Cao đẳng chính
      quy tập trung do Trường Đại học FPT cấp theo quy định của Tổng cục dạy
      nghề, Bộ Lao động thương binh và xã hội.
    </p>
    <h6 class="fw-bold">
      Trường đào tạo theo phương pháp "Project-based-training", đó là gì vậy?
    </h6>
    <p>
      "Project based training" hay "Đào tạo theo dự án" là phương pháp đào tạo
      tiên tiến dựa trên thực tiễn. Theo đó, sinh viên đước biết <br />
      mục đích học tập của mỗi môn học (case study), học kỳ (project) tại đầu
      môn học. Quá trình học tập là quá trình tìm tòi,<br />
      học hỏi để giải quyết vấn đề. Phương pháp học này khác với phương pháp học
      thụ động tiếp thu để cuối cùng mới biết mình sẽ giải quyết vấn đề gì.
      <br />
      Phương pháp đào tạo theo dự án nhằm làm tăng tính trải nghiệm dựa trên mô
      phỏng thực tế công việc.
    </p>
    <h6 class="fw-bold">
      Giáo trình, tài liệu học tập và phòng thực hành của trường được sử dụng
      như thế nào?
    </h6>
    <p>
      Sách giáo trình của trường được xây dựng dựa trên sự hợp tác với các nhà
      xuất bản uy tín như McGraw Hill, Pearson, Wiley.. Sinh viên cần mua sách
      để học tập vào đầu mỗi học kỳ theo giá ưu đãi. Ngoài ra, các sách tham
      khảo sinh viên có thể đọc tại thư viện
    </p>
    <p>
      Trường có phòng máy thực hành để hỗ trợ học tập cho sinh viên theo giờ học
      chính khóa. Nếu phòng máy rảnh, sinh viên có thể đăng ký để sử dụng máy
      tính ngoài giờ hoàn toàn miễn phí
    </p>
    <h6 class="fw-bold">Để theo học, sinh viên cần có điều kiện gì?</h6>
    <p>
      Theo quy định của Tổng cục dạy nghề, chương trình Cao đẳng thực hành được
      phép tuyển sinh quanh năm theo hình thức xét tuyển. Sinh viên theo học cần
      có bằng tốt nghiệp trung học phổ thông hoặc tương đương.
    </p>
    <h6 class="fw-bold">
      Sinh viên đang theo học tại Cao đẳng và Đại học khác có được ưu tiên miễn
      giảm gì không?
    </h6>
    <p>
      Theo phương châm là tạo điều kiện tối đa cho các sinh viên theo học và tạo
      cơ hội bình đẳng, không lãng phí thời gian của người học, trường sẽ dựa
      trên kết quả học tập các môn tương đương để miễn giảm môn học, thời gian
      và học phí theo quy định chuyển đổi tín chỉ. Khi nhập học, bạn cần cầm
      theo hồ sơ bảng điểm và chứng nhận hoàn thành các môn tại cơ sở đào tạo
      trước.
    </p>
    <h6 class="fw-bold">
      Chương trình Cao đẳng của trường có liên thông được Đại học hay không?
    </h6>
    <p>
      Sinh viên FPT Polytechnic được phép liên thông lên trình độ Đại học hệ
      chính quy của Trường Đại học FPT và các trường đại học có tuyến liên thông
      với chuyên ngành tương đương. Thông tin chi tiết xem tại
      http://caodang.fpt.edu.vn/thong-tin/sinh-vien/huong-dan-lien-thong.html
    </p>
    <h6 class="fw-bold">Cơ hội việc làm của sinh viên khi tốt nghiệp</h6>
    <p>
      Sinh viên không chỉ có cơ hội khi đã tốt nghiệp mà sẽ được hướng dẫn thực
      tập và làm việc ngay khi đang học tập. Trường sẽ giới thiệu việc làm cho
      sinh viên trong thời gian học tập và sau khi tốt nghiệp. Thông tin việc
      làm được cập nhật tại địa chỉ
      http:/caodang.fpt.edu.vn/category/thong-tin/viec-lam-thong-tin
    </p>
  </div>
</div>
