<div class="card" ng-controller="testController">
  <div class="card-body" ng-modal="question">
    <h3 class="text-info text-center">Thi trắc nghiệm</h3>
    <h5 class="mt-3 text-center">Câu {{currentQuizz+1}} : {{question.Text}}</h5>
    <div class="row mt-5 pb-5 d-flex justify-content-center">
      <div class="col-3 mb-3" ng-repeat="result in question.Answers">
        <div
          ng-click="check(result.Id)"
          class="btn h-100 answers {{result.color}} {{result.status}}"
          style="min-height: 50px; width: 100%"
          id="{{result.Id}}"
        >
          {{result.Text}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12 d-flex justify-content-between">
    <button
      class="btn btn-light border d-flex align-items-center"
      style="column-gap: 5px; cursor: default"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-alarm"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"
        />
        <path
          d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"
        />
      </svg>
      {{time}}
    </button>
    <button
      class="btn btn-primary"
      ng-click="submit()"
      data-bs-toggle="modal"
      data-bs-target="#submitModal"
    >
      Nộp bài
    </button>

    <div
      class="modal fade"
      id="submitModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="submitModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nộp bài</h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>{{alert}}</h3>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              ng-click="agree()"
            >
              Đồng ý
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
